table {
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  font-size: 1.4rem;
}

th {
  background-color: rgba(0, 255, 255, 0.423);
  border: 3px #000000 solid;
  padding: 10px;
  text-align: center;
}

td{
  border: 3px #000000 solid;
  padding:10px;
  
}
